.app{
  text-align: center;
}

html{
  scroll-snap-type: y mandatory;
}

.app{
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos{
  position: relative;
  height: min(800px, 100%);
  max-height: 100%;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory
}


/* Hide scroll bar for chrome, safari and opera */
.app__videos::webkit-scrollbar{
  display: none;
}

/* Hide scroll bar for chrome, safari and opera */
.app__videos{
  -ms-overflow-style: none;  /*IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}
